body
{
  font-family: 'Helvetica Neue', 'DINPro-Regular', Helvetica, Verdana, sans-serif;
}

#content
{
    margin: 0 auto;
    width: 900px;
}

#query-ui
{
  background: #ddd;
  margin-bottom: 25px;
}

#query-ui td
{
  padding: 5px;
}

#query-banner
{
  color: white;
  background: #333;
  padding: 6px 12px;
}

#query-banner a
{
  color: white;
  text-decoration: none;
}

#query-banner ul
{
  margin-top: 3px;
  float: right;
}

#query-banner ul li
{
  border-left: solid white 1px;
  display: inline;
  padding-left: 17px;
  padding-right: 12px;
}

#query-banner ul li:first-child
{
  border: none;
}

#cities
{
  padding: 2px;
}

.city
{
  margin-bottom: 50px;
}

.city-banner
{
  color: white;
  background: #333;
  padding: 4px 12px;
}

.city-name
{
  font-size: 130%;
}

.visit-count
{
  
}

.schools
{
  background: #777;
  padding: 2px;
  font-family: 'Roboto', 'Trebuchet MS', sans-serif;
}

.school
{
  margin: 3px;
  margin-bottom: 5px;
  background: white;
}

.school-banner
{
  font-size: 105%;
  background: #ccc;
  padding: 8px 12px;
}

.school table
{
  border-style: none;
  padding: 5px;
}

.school td
{
  padding: 2px 10px;
  border-bottom: 2px solid #eee;
}

.table-label
{
  font-family: 'Helvetica Neue', 'DINPro-Regular', Helvetica, Verdana, sans-serif;
  font-variant: small-caps;
  font-size: 110%;
}

.table-data
{
  font-size: 14px;
  color: #555;
}

.icon-left
{
  margin-right: 6px;
}