body
{
  font-family: 'Helvetica Neue', 'DINPro-Regular', Helvetica, Verdana, sans-serif;
}

#cities
{
  padding: 2px;
  width: 900px;
  margin: 0 auto;
}

.city
{
  margin: 0px 0px 50px 0px;
}

.city-banner
{
  color: white;
  background: #333;
  padding: 4px 12px;
}

.city-name
{
  font-size: 130%;
}

.visit-count
{
  
}

.schools
{
  background: #777;
  padding: 2px;
  font-family: 'Roboto', 'Trebuchet MS', sans-serif;
}

.school
{
  margin: 3px;
  margin-bottom: 5px;
  background: white;
}

.school-banner
{
  font-size: 105%;
  background: #ccc;
  padding: 8px 12px;
}

.school table
{
  border-style: none;
  padding: 5px;
}

.school td
{
  padding: 2px 10px;
  border-bottom: 2px solid #eee;
}

.table-label
{
  font-family: 'Helvetica Neue', 'DINPro-Regular', Helvetica, Verdana, sans-serif;
  font-variant: small-caps;
  font-size: 110%;
}

.table-data
{
  font-size: 14px;
  color: #555;
}

.icon-left
{
  margin-right: 6px;
}